* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  display: flex;
  background-color: #0d274d;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #3ca832;
  font-size: 3.5em;
  text-transform: uppercase;
}

.cisco-logo {
  fill: #00bceb;
  fill: #fff;
  transform: scale(0.45);
}

/* Exibit Container */
.Tabs {
  width: 80%;
  width: 800px;
  height: auto;
  min-height: 400px;
  background: #0d274d;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  width: 70%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  padding-left: 0px;
}

.react-tabs__tab {
  width: 75%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #39a2db;
}

.react-tabs__tab--selected {
  background: #39a2db;
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}

// ClientIP

.ip-address {
  font-size: 1em;
}
